{% load static %}
{% load i18n %}
<footer class="text-white" style="background-color: #004777;padding: 0">
  <div class="container">

    <!-- end row -->
            <hr class="footer-border my-2">

            <div class="d-flex flex-row justify-content-around">


        <p class="font-size-12 mb-2 pb-3">©
          <script>document.write(new Date().getFullYear())</script>
          All Right Reserved. {% trans 'Made with' %} <i class="mdi mdi-heart text-danger"></i> {% trans 'by' %}
          <a href="https://nsft.fr">N.S.F.T</a></p>
          <p>Mentions Légales R.G.P.D
                CGU - CGV</p>
      </div>


    </div>
  </div>
  <!-- end container -->
</footer>
